#OS junk files
[Tt]humbs.db
*.DS_Store

#Subversion files
.svn

# Office Temp Files
~$*

#Archive files
*.zip
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.exe

bin/
obj/

*/bin/
*/obj/
*azuredebug*
*Downloaded Profiling Logs*
*/Backup*

*UpgradeLog*

*/rcf*
*/rcf/
rcf/
.vs

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
csx/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*Publish.xml
csx/
#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper

#NuGet
**/packages/
!packages/repositories.config

#StyleCop
*.StyleCop

/tools/QuotewareCleanStorage/QuotewareCleanStorage/Properties/launchSettings.json
.idea
*.pubxml
/.sonarqube
/.publish/*
/.artifact/
*.dtp
*.dtp.*
*.vsp
*.diagsession
